# **Jawaban Nomor 2**

In [13]:
# INPUT 
# jumlah kaos kaki
n = int(input())

# declare array untuk  warna kaos kaki
ar = []

# memasukan nilai ar
ar = list(map(int,input().strip().split()))[:n]

9
1 2 2 1 1 3 5 1 2

In [94]:
# FUNGSI MENGHITUNG JUMLAH PASANG KAOS KAKI
def hitungpair(ar, n):
 
    # counter
    count = 0
 
    # mengurutkan array awal
    ar.sort()
    i = 0
    while i < (n-1):
 
        # Menemukan pasangan
        if (ar[i] == ar[i + 1]):
            count += 1
 
            # Skip elemen pasangan saat ini
            i = i + 2
 
        # elemen saat ini yg tidak berpasangan
        else:
            i += 1
 
    return count

In [95]:
# OUTPUT
if __name__ == "__main__":
    print(hitungpair(ar, n))

3

# **Jawaban Nomor 3**

In [131]:
# Import packages 
import pandas as pd
import datetime
import dateutil
  
# Mendefinisikan data dictionary  
data = {'ID': [1, 2, 3], 
        'FullName': ['Stan Smith', 'Nikola Griffin', 'Ruby Moore'], 
        'Gender': ['Male', 'Male', 'Female'],
        'DateOfBirth':[date(1960,2,10), date(1999,12,20), date(2002,3,3)]} 

# Konversi dictionary ke DataFrame 
df = pd.DataFrame(data)

In [132]:
# FUNGSI MENENTUKAN USIA
def birthday(row):
    # Tanggal hari ini
    now = datetime.datetime.utcnow()
    now = now.date()

    # Mencari perbedaan tahun dari tanggal saat ini dan tanggal lahir
    age = dateutil.relativedelta.relativedelta(now, row['DateOfBirth'])
    age = age.years

    return age

In [138]:
# Memasukkan kolom usia ke dataframe
# kolom ini merupakan kolom sementara
df['Age'] = df.apply (lambda row: birthday(row), axis=1)

In [139]:
# FUNGSI MENENTUKAN GOLONGAN USIA
def age_group (row):
  if row['Age'] >= 60 :
    return 'Senior Adult'
  if row['Age'] > 18 and row['Age'] < 60  :
    return 'Adult'
  if row['Age'] <= 18 and row['Age'] > 12  :
    return 'Teen'

In [140]:
# Menambah kolom AgeGroup 
df['AgeGroup'] = df.apply (lambda row: age_group(row), axis=1)

In [141]:
# menghapus kolom Age (yang bersifat sementara)
del df['Age']

# FINAL OUTPUT
df

   ID        FullName  Gender DateOfBirth      AgeGroup
0   1      Stan Smith    Male  1960-02-10  Senior Adult
1   2  Nikola Griffin    Male  1999-12-20         Adult
2   3      Ruby Moore  Female  2002-03-03          Teen